secrets/
data/
**/*.tar.gz
**/*.tar.xz
**/*.tar.bz2
**/*.zip
**/*.7z
**/*.rar
**/*.iso
**/*.img
**/*.bin
**/*.exe
**/*.dll
**/*.so
**/*.tgz
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/secrets/
terraform/environments/dev/.terraform/
terraform/environments/dev/.terraform.lock.hcl
terraform/environments/dev/terraform.tfstate
terraform/environments/dev/terraform.tfstate.backup
